dataset_new/
header_crops/
ocr_output/
header_extraction_output/
header_text_crops/
runs/

__pycache__/
.DS_Store

# Temporary and data folders
1_page_invoice/
outputs_new/
table_crops/
debug_crop.png
tempCodeRunnerFile.py